<div class="navigation-container z-depth-5">
  <div class="left-navigation-item">
    <div fxLayout="column">
      <div fxFlex fxLayout="row" fxLayoutAlign="center center">
        <div class="sideheader">Tick-It</div>
      </div>
      <div fxFlex="82vh" fxLayout="column" fxLayoutAlign="center center">
            <div fxLayout="column" fxLayoutAlign="center start" fxLayoutGap="20px">
                <div *ngFor="let l of list; let i = index" (click)="selected(i)">
                   <div fxLayout="row">
                      <div class="dot" *ngIf="marked == i"></div>
                      <div class="dot-hidden" *ngIf="marked !== i"></div>
                      <div class="txtpadding">{{l}}</div>
                   </div>
                 </div>
            </div>
      </div>
    </div>

  </div>
</div>
