<div style="height: 50px; background-color: white;"></div>
<div fxLayout="row" fxLayoutAlign="space-between center">
    <div fxLayout="row" class="marginright">
        <div>
          <input type="text" class="inputSearchBox image-prop"
            (keyup.backspace)="revertTo()">
        </div>
        <div>
            <i class="material-icons trns">
                search
            </i>
        </div>
      </div>
    <div fxFlex="9vw">
        <mat-menu #appMenu="matMenu" xPosition="before" backdropClass="menu">
            <div class="dv"></div>
            <div *ngFor="let list of menuList; let i = index" fxLayout="row" fxLayoutAlign="space-between center"
                  class="list-item" (click)="selectItems(i)">
                <button mat-menu-item>{{list}}</button>
                <i class="fa fa-check color-green" *ngIf="marked===i"></i>
            </div>
        </mat-menu>
        <button mat-button [matMenuTriggerFor]="appMenu">
            Sort By &nbsp;
              <i class="material-icons">
                  keyboard_arrow_down
              </i>
        </button>
    </div>
    <div fxFlex="16vw">
      <div class="gradient-button gradient-button-cls" fxLayout="row" fxLayoutAlign="center center">
          <i class="material-icons">
              add_circle_outline
          </i>
          &nbsp;
          <div>Add Task</div>
      </div>
    </div>

</div>




