<div>
      <mat-tree [dataSource]="dataSource" [treeControl]="treeControl" class="example-tree">
          <mat-nested-tree-node *matTreeNodeDef="let node" matTreeNodeToggle>
            <li style="line-height: 0">
              <div style="height: 20px"></div>
              <div class="mat-tree-node" style="justify-content: space-between">
                <div style="display: inline">
                  <div style="transform: translate(0% , -2.3vh)">
                      &nbsp;
                      <i *ngIf="node.name !== 'Add Tasks' && !node.done" class="material-icons">
                          radio_button_unchecked
                      </i>
                      <i *ngIf="node.name !== 'Add Tasks' && node.done" class="material-icons" style="color:green">
                        check_circle_outline
                      </i>
                      <i *ngIf="node.name === 'Add Tasks'" class="material-icons">
                          add_circle_outline
                      </i>
                      &nbsp;
                  </div>
                  <div style="transform: translate(3vw , -3.9vh);">
                    <span style=" font-size: 16px; font-weight: 500">
                        {{node.name}}
                    </span>
                  </div>
                </div>
                <div style="width: 86%;">
                    <div align="right" style="transform: translate(0% , -2.2vh)">
                        <i *ngIf="node.name !== 'Add Tasks'" class="bc material-icons">
                            border_color
                        </i>
                        &nbsp;
                        <i *ngIf="node.name !== 'Add Tasks'" class="del material-icons">
                            delete
                        </i>
                    </div>
                </div>
              </div>
            </li>
          </mat-nested-tree-node>
          <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild">
            <li class="example-tree-container" style="line-height: 0">
              <div class="mat-tree-node" style="justify-content: space-between">
                <div>
                    <button mat-icon-button [disableRipple]="true" matTreeNodeToggle
                      [attr.aria-label]="'toggle ' + node.name" style="transform: translate(1vh , -1.2vh);">
                      <i *ngIf="!node.done" class="material-icons">
                        radio_button_checked
                      </i>
                      <i *ngIf="node.done" class="material-icons" style="color:green">
                        check_circle
                      </i>
                      <span style="font-weight: bold; font-size: 18px">
                          {{node.name}}
                      </span>
                    </button>
                </div>
                <div style="width: 86%;">
                    <div align="right" style="transform: translate(0% , -2.2vh)">
                        <i class="bc material-icons">
                            border_color
                        </i>
                        &nbsp;
                        <i class="del material-icons">
                            delete
                        </i>
                        &nbsp;
                        <mat-icon matTreeNodeToggle
                        [attr.aria-label]="'toggle ' + node.name" class="mat-icon-rtl-mirror">
                            {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                        </mat-icon>
                    </div>
                </div>
              </div>
              <ul [class.example-tree-invisible]="!treeControl.isExpanded(node)">
                <ng-container matTreeNodeOutlet></ng-container>
                <div style="height: 30px;"></div>
              </ul>
            </li>
          </mat-nested-tree-node>
      </mat-tree>
</div>

