<mat-tree [dataSource]="dataSource" [treeControl]="treeControl" class="example-tree">
  <!-- This is the tree node template for leaf nodes -->
  <mat-nested-tree-node *matTreeNodeDef="let node" matTreeNodeToggle>
    <li>
      <div class="mat-tree-node" style="width: 100%">
              &nbsp;
              <i *ngIf="node.name !== 'Add Tasks' && !node.done" class="material-icons">
              radio_button_unchecked
              </i>
              <i *ngIf="node.name !== 'Add Tasks' && node.done" class="material-icons" style="color:green">
              check_circle_outline
              </i>
              <i *ngIf="node.name === 'Add Tasks'" class="material-icons">
              add_circle_outline
              </i>
              &nbsp;
              {{node.name}}
              <i *ngIf="node.name !== 'Add Tasks'" class="bc material-icons" style="position: absolute; margin-left: 92%">
                    border_color
              </i>
                    &nbsp;
              <i *ngIf="node.name !== 'Add Tasks'" class="del material-icons" style="position: absolute; margin-left: 96%">
                    delete
              </i>
      </div>
      <!-- use a disabled button to provide padding for tree leaf -->

    </li>
  </mat-nested-tree-node>
  <!-- This is the tree node template for expandable nodes -->
  <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild">
    <li class="example-tree-container">
      <div class="mat-tree-node">
        <button mat-icon-button matTreeNodeToggle
                [attr.aria-label]="'toggle ' + node.name">
                <i *ngIf="!node.done" class="material-icons mat-icon-rtl-mirror">
                        radio_button_checked
                </i>
                <i *ngIf="node.done" class="material-icons" style="color:green">
                        check_circle
                </i>
        </button>
        {{node.name}}

        <i class="bc material-icons" style="position: absolute; margin-left: 91%">
                            border_color
                        </i>

                        <i class="del material-icons" style="position: absolute; margin-left: 94%">
                            delete
                        </i>

                        <button mat-icon-button matTreeNodeToggle
                          [attr.aria-label]="'toggle ' + node.name" style="position: absolute; margin-left: 96%">
                          <mat-icon class="mat-icon-rtl-mirror">
                              {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                          </mat-icon>
                        </button>
      </div>
      <ul [class.example-tree-invisible]="!treeControl.isExpanded(node)">
        <ng-container matTreeNodeOutlet></ng-container>
      </ul>
    </li>
  </mat-nested-tree-node>
</mat-tree>
