.padding-top {
  padding-top: 30px
}

.mat-expansion-panel:not([class*='mat-elevation-z']) {
  box-shadow: none;
}

.mat-expansion-panel:hover,
.mat-expansion-panel-header.mat-expanded:hover {
  background: white;
}

.line {
  width: 55vw;
  height: 0px;
  border-top: 1.5px solid #dcdcdca4;
  padding-bottom: 3px;
  margin-right: 2vw;
}

.mat-icon-button {
  z-index: 100;
}

.paddingtop {
  padding-top: 155px
}
