<div class="paddingtop">
  <div  *ngFor="let a of arr" style="padding-top: 10px">
      <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title style="font-size: 1.4em; font-weight:200; color:#aaaaaa">
              {{a.date | date:'longDate'}}
            </mat-panel-title>
            &nbsp;
            <div fxLayout="row" fxLayoutAlign="center center">
              <div class="line"></div>
            </div>
          </mat-expansion-panel-header>

           <app-tree [data]="a.obj"></app-tree>
        </mat-expansion-panel>
  </div>
</div>
