<div class="paddingtop">
  <div  *ngFor="let a of filteredArray; let i = index" style="padding-top: 10px">
      <mat-expansion-panel>
          <mat-expansion-panel-header>
            <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="0px" style="width: 100%">
              <div fxFlex=15>
                  <mat-panel-title style="font-size: 1.4em; font-weight:200; color:#aaaaaa">
                      {{a.date | date:'mediumDate'}}
                  </mat-panel-title>
              </div>
              <div fxLayout="row" fxLayoutAlign="center center" fxFlex="80">
                  <div class="line"></div>
              </div>
              <div fxFlex style="padding-left: 11px">
                  <i class="del material-icons" (click) = "deleteExp(i)">
                    delete
                  </i>
              </div>
            </div>
          </mat-expansion-panel-header>

           <app-tree [data]="a.obj" [dataID]="a._id"></app-tree>
        </mat-expansion-panel>
  </div>
</div>
