@import "styles/_colors";

.padding30 {
  padding: 0px 30px 50px 30px;
}

.mat-sidenav-content {
  background: white;
  height: 100%;
}

app-action {
  position: fixed;
  background-color: white;
  z-index: 999;
  width: 77%;
}
