<div class="navigation-container z-depth-5">
  <div class="left-navigation-item">
    <div fxLayout="column">
      <div fxFlex fxLayout="row" fxLayoutAlign="center center">
        <div class="sideheader">Tick-It</div>
      </div>
      <div fxFlex="82vh" fxLayout="column" fxLayoutAlign="center center">
            <div fxLayout="column" fxLayoutAlign="center start" fxLayoutGap="20px">
                <div fxLayout="row">
                    <div class="dot"></div>
                   <div class="txtpadding"> All Tasks </div>
                 </div>
                 <div fxLayout="row">
                    <div class="dot"></div>
                   <div class="txtpadding"> Today </div>
                 </div>
            </div>
      </div>
    </div>

  </div>
</div>
